.cate-cloud {
    text-align: center;
    border-bottom: 2px dashed var(--gray);
    padding-bottom: 1rem;
}

.cate-cloud a {
    background-color: var(--gray);
    padding: 4px 8px;
    margin: 0 5px 5px;
    border: 1px solid var(--green);
    border-radius: 10px;
    font-size: 1.1rem;
    display: inline-block;
    margin-bottom: 16px;
    text-decoration: none;
}

.cate-cloud a:hover {
    background-color: var(--dark-gray);
}

.cate-cloud a .post-count {
    font-size: .6em;
    font-weight: 600;
}

.cate-list {
    margin-top: 2rem;
}

.cate-list > .item:nth-child(even) {
    margin: 2rem 0
}

.cate-list h5 {
    margin-bottom: 1rem;
    cursor: pointer;
}

.cate-list h5::before {
    content: '#';
    padding-right: 5px;
    font-size: 1rem;
    color: var(--green);
}