:root {
    --white: rgb(242 246 253);
    --black: #111;
    --green: #198754;
    --light-green: rgb(132, 227, 43);
    --gray: rgba(227, 237, 235, 1);
    --dark-gray: rgba(180, 180, 180, .6);
    --red: rgba(220, 0, 0, 1);
}

a {
    color: var(--green);
    text-decoration: none;
}

a:hover {
    color: var(--green);
    text-decoration: underline;
}

header {

}

main {
    padding: 2em 1em;
    margin: 0 auto;
    max-width: 992px;
    min-height: 75vh;
}

footer {
    min-height: 30px;
    text-align: center;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+100&0.65+0,0+100;Neutral+Density */
    background: -moz-linear-gradient(45deg,  rgba(0,0,0,0.25) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg,  rgba(0,0,0,0.25) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg,  rgba(0,0,0,0.25) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    position: relative;
    padding: 2em 1em;
}

nav.bg-light {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#3b679e+0,2b88d9+50,207cca+51,7db9e8+100;Blue+Gloss+%232 */
    background: rgb(59,103,158); /* Old browsers */
    background: -moz-linear-gradient(-45deg,  rgba(59,103,158,1) 0%, rgba(43,136,217,1) 50%, rgba(32,124,202,1) 51%, rgba(125,185,232,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg,  rgba(59,103,158,1) 0%,rgba(43,136,217,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg,  rgba(59,103,158,1) 0%,rgba(43,136,217,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b679e', endColorstr='#7db9e8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

nav.navbar {

}

.navbar-light .navbar-brand {
    text-decoration: none;
    color: var(--white);
    font-weight: 600;
}

.navbar-light .navbar-brand:hover {
    color: var(--white);
}

.navbar-light .navbar-nav .nav-link {
    font-weight: 600;
    text-decoration: none;
    color: var(--white);
    padding: 6px 10px;
    border: 1px solid transparent;
    text-shadow: 0 -1px 0 rgb(0 0 0 / 76%);
}

.navbar-light .navbar-nav .nav-link:hover {
    color: var(--white);
    background: none;
    box-shadow: inset 0 0 5px rgb(0 0 0 / 40%), rgb(255 255 255 / 10%) 0 1px 0;
    border-radius: 4px;
    border: 1px solid rgba(0,0,0,0.25);
    text-shadow: rgb(0 0 0 / 80%) 0 -1px 0, rgb(255 255 255 / 30%) 0 0 10px;
}

.navbar-light .navbar-brand img {

}

.form-control {
    width: auto;
}

.navbar-container {
    margin-bottom: 56px;
}

.banner {
    height: 15vh;
    padding: 5vh 0;
    text-align: center;
    border-bottom-right-radius: 50%;
}

.banner .page-title {
    color: var(--black);
    font-style: oblique;
    font-weight: 600;
    opacity: .8;
}

.banner .page-intro {
    color: var(--black);
    font-size: .8em;
    font-weight: 600;
    opacity: .6;
}



